.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Amazon_Web_Services_Logo.svg/1200px-Amazon_Web_Services_Logo.svg.png');
    background-size: cover;
  }