.background {
  background: url("src/assets/background.jpg") ;
  background-size: cover;
  
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15;
}
a:hover,
a:active {
  color: #d7004b;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}