<h1>Hello, this is Laplacian 42</h1>
<img src="assets/mw.jpg" height="300">
<p>Hello my name is Michael Wutz.</p>

<div fxLayout="column" fxLayoutGap="32px" >
<mat-card class="example-card">
    <mat-card-content>
      <p>
        sadfasdfdsajkhlkjshfl
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-content>
      <p>
        sadfasdfdsajkhlkjshfl
      </p>
    </mat-card-content>
  </mat-card>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center" >
    <p>hello</p>
    <p>hell2o</p>
</div>